.aboutpage {
    background-color: bisque;
}

.aboutimage {
    width: auto;
    height: auto;
    display: flex;
    justify-content: end;
    border-radius: 1% 1% 1% 1%;
}

.aboutttitle {
    text-align: center;
    font-size: 30px;
    font-family: cursive;
    font-weight: bold;
}

.aboutpara {
    font-family: cursive;
    font-size: larger;
    letter-spacing: 1px;
    word-spacing: 10px;
    line-height: 35px;
    padding: 1% 5% 1% 5%;
    text-align: justify;

}