.back-button
{
    background-color: #D2BA0A;
    color:black;
    padding-left: 8%;
    padding-right:8%;
    margin-right: 3%;
  
}
.back-button:hover
{
    background-color: #D2BA0A;
    color:black;
    padding-left: 8%;
    padding-right:8%;
    margin-right: 3%;
   
}
.create-button
{
    background-color: white;
    color:black;
    padding-left: 6%;
    padding-right:6%;
}
.create-button:hover
{
    background-color: white;
    color:black;
    padding-left: 6%;
    padding-right:6%;
}

.button-margin
{
    margin-top: 10%;
    margin-bottom: 20%;
}

