.Auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
    
  }
  
  .Auth-form {
    width: 500px;
    height: 400px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: -30px;  
    background-color: #058240;
    border-radius:3% ;
  }
  
  .Auth-form-content {
    padding-left: 12%;
    padding-right: 12%;
    margin-top: 10%;
  }
  
  .Auth-form-title {
    text-align: center;
    margin-bottom: 1em;
    margin-top: 5%;
    font-size: 24px;
    color: rgb(34, 34, 34);
    font-weight: 800;
  }
  .space{
    margin-top: 10%;
    background-color: #C5E23B;
  }
  .login{
    margin-top: 5%;
   background-color:whitesmoke;
   color: black;
   justify-content: center;
   width: 30%;
   margin-left: 35%;
  }
  .login:hover{
    background-color:whitesmoke;
    color: black;
  }
  