.SlotBook-page {
    justify-content: center;
    align-items: center;
    height: 75vh;
    overflow:auto; 
    margin-top: 1%;
    margin-left: 15%;
    margin-right: 15%;
    background-color: #058240;
    padding-bottom: 5%;
    border-radius: 35px 0px 35px 0px;
    z-index: 0;
}

.SlotBook-page::-webkit-scrollbar{ 
    overflow-x: hidden;
    overflow-y: scroll;
    display: none;
  }

.slottitle {
    text-align: center;
    color: white;
    padding-top: 2%;
}

.slottime {
    background-color: #C5E23B;
    padding: 1px 10px 0px 10px;
    border-radius: 10px;
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
}

.timestyle {
    font-weight: 500;
    font-size: larger;
}

.createdby {
    font-size: 15px;
    padding: 1%;
}

.Slot-Button {
    background-color:#222222ed!important;
    --bs-btn-border-color: #ffffff;
    float: right;
}

.Slot-member {
    float: right;
}

.slottime-content {
    padding: 1%;
    justify-content: center
}

.plus-btn {
    float: right;
    z-index: 1000   ;
    /* margin-top: 5%; */
    top:90%;
    right: 10%;
    position:absolute;
}
.btn-circle
{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size:200%;
    background-color: #058240;
    color: black;
    font-weight: bolder;
    padding: 0%;
}
.btn-circle:hover{
    background-color: #058240;
}
