* {
    /* padding: 0px;
    margin: 0px; */
    transition: 0.5 s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
body{
    background-color: #99ccffa9;
}
.link{
    text-decoration: none;
    color:black;
    display: flex;
    margin-left: 80px;
    font-size: 20px;
    align-items: flex-start;
   
}
.link:hover{
    color: black;
}

.me-auto{
    display: flex;
    justify-content:flex-start;
}

.hover-underline-animation {
  display:grid;
  position: relative;
  
}
.hover-underline-animation::after {
    content: ' ';
    position: absolute;
    width: auto;
    height: 2.5px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #09FF00;
    transform: scaleX(0);
    opacity: 0.5;
    transition: opacity 300ms, transform 400ms;
    transition: transform 0.40s ease;
    transform-origin: bottom center;
}

.hover-underline-animation:focus::after{
    opacity:3;
    margin-top: 2px;
    transform: translate3d(0, 0.5em, 0);
    transform-origin: bottom center;
    transform: scaleX(1);
}

/* nav image */
img{
    width: 90px;
    height: 90px;
}